*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

header {
    margin-top: 0px;
    width: 100%;
    text-decoration: underline;
    color: red;
    
}

/* GAME STYLES */

.container {
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        height: 300px;
        background-color: black;
        justify-content: left;
        border: 3px solid red;
    }

.gameStats {
    display: flex;
    justify-content: space-evenly;
}

#question {
    font-size: 25px;
    width: 100%;
    height: 350%;
    color: red;
    background-color: white;
}

.btn{
    margin-top: 5px;
    margin-left: 5px;
    display: grid;
    gap: 5px;
    width: 80%;
    height: 20px;
}







