*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

header {
    margin-top: 0px;
    width: 100%;
    text-decoration: underline;
    color: red;
    
}

header h1 {
    margin-left: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 300px;
    background-color: black;
    justify-content: left;
    border: 3px solid red;
}

.container h2 {
    color: red;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-left: 80px;
    text-decoration: underline white;
    font-size: 28px;
}

.container p{
    height: 200px;
    display: flex;
    margin-top: 10px;
   
    

   
}

.container .start-button{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-bottom: 70px;
    margin-left: 150px;
    justify-content: center;
    font-weight: bolder;
    font-size: 18px;
}








